body {
    margin-left: 135px;
    margin-right: 135px;
    background-color: #FCF5EB;
}

h1 {
    margin-top: 150px;
    font-size: 45px;
    margin-bottom: 15px;
    position: relative;
}


h1::before {
    position: absolute;
    content: 'N';
    font-size: 300px;
    top: -10rem;
    left: -5rem;

}

.container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    flex-wrap: wrap;
    gap: 1rem;
}

.container h3 {
    font-size: 22px;
    margin-bottom: 0;
}

.container p {
    font-size: 14px;
}