body {
  margin: 0;
  background-color: #fcf5eb;
}

main {
  padding: 1.5rem;
  padding-top: 5rem;
}

h1 {
  font-size: 45px;
  margin-bottom: 15px;
  position: relative;
}

h1::before {
  position: absolute;
  content: "N";
  font-size: 300px;
  top: -9rem;
  left: -5rem;
  opacity: 0.09;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding-top: 1rem;
  flex-direction: column;
}
.container h3 {
  font-size: 22px;
  margin-bottom: 0;
}

.container p {
  font-size: 14px;
}

@media only screen and (min-width: 744px) {
  main {
    padding: 3.8rem;
    padding-top: 9rem;
  }

  section {
    display: flex;
    gap: 2rem;
  }
}

@media only screen and (min-width: 1190px) {
  main {
    padding-top: 9.1rem;
  }
}
